.modal {
  position: absolute;
  top: 40vh;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 auto;
  width: 30%;
  z-index: 100;
  overflow: hidden;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  background: linear-gradient(360deg, #fd4d2d 0%, #f9330e 100%);
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
  font-size: 16px; /* Adjust this size as needed */
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 0.8rem;
}

.actions button {
  display: block;
  width: 150px; /* Adjust the width as needed */
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.actions button.cancel-button {
  background-color: #e74c3c;
}

.actions button.cancel-button:hover {
  background-color: #c0392b;
}
