/* Small mobile devices first */
.sideNavigation {
  /* width: 100%;
  max-width: inherit; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  color: #ffffff;
  align-items: center;

  /* bottom: 0;
  position: fixed; */
}

.sideNavigation__header,
.sideNavigation__header-imageContainer,
.sideNavigation__header-imageContainer img,
.sideNavigation__header-greeting,
.sideNavigation__header-artistNameText {
  display: none;
}

.sideNavigation__navContainer {
  display: flex;
}
/* .sideNavigation__mainMenu,
.sideNavigation__libraryMenu {
} */

.sideNavigation__navbar {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sideNavigation__navbarTitle {
  display: none;
}

.sideNavigation__navbar a:link,
.sideNavigation__navbar a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 1rem;

  /* Style for active class */
}
/* .sideNavigation__navbar a:hover {
  background: rgba(252, 100, 70, 0.514);
} */
.sideNavigation__navbar a.navbar__activeItem {
  color: #fff;
}

/* .navbar__itemContent-icon {
  stroke: rgba(255, 255, 255, 0.2);
  width: 2.4rem;
  height: 2.4rem;
}
*/
.navbar__itemContent {
  display: flex;
  gap: 1rem;
}
.navbar__itemContent-text {
  display: none;
}
.sideNavigation__audioplayerContainer {
  /* max-width: inherit; */
  grid-row: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* .sideNavigation__header {
    padding: 0rem 4rem;
    margin: 0 1rem;
    gap: 1rem;
  }
  .sideNavigation__header-imageContainer {
    max-width: 6rem;
    height: 6rem;
  }
  .sideNavigation__header-greeting {
    font-size: 2rem;
  }
  .sideNavigation__header-artistNameText {
    font-size: 3.2rem;
  }
  .sideNavigation__navbarTitle {
    font-size: 1.8rem;
  } */
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .sideNavigation__header {
    padding: 0rem 4rem;
    margin: 0 1rem;
    gap: 1rem;
  }
  .sideNavigation__header-imageContainer {
    max-width: 6rem;
    height: 6rem;
  }

  .sideNavigation__header-greeting {
    font-size: 2rem;
  }
  .sideNavigation__header-artistNameText {
    font-size: 3.2rem;
  }
  .sideNavigation__navbarTitle {
    font-size: 1.8rem;
  } */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* .sideNavigation__header {
    padding: 0rem 4rem;
    margin: 0 1rem;
    gap: 1rem;
  }
  .sideNavigation__header-imageContainer {
    max-width: 6rem;
    height: 6rem;
  }
  .sideNavigation__header-greeting {
    font-size: 2rem;
  }
  .sideNavigation__header-artistNameText {
    font-size: 3.2rem;
  }
  .sideNavigation__navbarTitle {
    font-size: 1.8rem;
  } */
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sideNavigation {
    /* width: 100%; */
    /* max-width: inherit; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    color: #ffffff;
  }

  .sideNavigation__header {
    grid-row: 1;
    /* padding: 2rem 4rem;
    margin: 1rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0rem 4rem;
    margin: 4rem 1rem 0;
  }
  .sideNavigation__header-imageContainer {
    display: block;
    max-width: 6rem;
    height: 6rem;

    box-shadow: 0 10px 140px rgba(251, 80, 47, 0.9);
  }
  .sideNavigation__header-imageContainer img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
  .sideNavigation__header-greeting {
    display: block;
    font-size: 2.4rem;
  }
  .sideNavigation__header-artistNameText {
    display: block;
    font-size: 3.2rem;
  }

  .sideNavigation__navContainer {
    align-self: center;
    flex-direction: column;
    grid-row: 2;
  }

  .sideNavigation__navbar {
    flex-direction: column;
  }
  .sideNavigation__navbarTitle {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    /* font-size: 2rem; */
    line-height: 2.4rem;

    margin-bottom: 0.2rem;
    padding: 1rem 3.2rem 1rem 5rem;
  }

  .sideNavigation__navbar a:link,
  .sideNavigation__navbar a:visited {
    font-size: 2rem;
    font-weight: 400;

    line-height: 2.4rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 1rem 3.2rem 1rem 5rem;

    /* Style for active class */
  }
  .sideNavigation__navbar a:hover {
    background: rgba(252, 100, 70, 0.514);
  }
  .sideNavigation__navbar a.navbar__activeItem {
    background: linear-gradient(
      90deg,
      rgba(249, 51, 14, 0.4) 0%,
      rgba(253, 99, 44, 0) 91.02%
    );
    box-shadow: inset 4px 0 0 #f9310e;
    color: #fff;
  }

  /* .sideNavigation__mainMenu {
    max-width: inherit;
  }
  .sideNavigation__libraryMenu {
    max-width: inherit;
    grid-row: 3/3;
  } */
  .navbar__itemContent-text {
    display: block;
  }
  .sideNavigation__audioplayerContainer {
    /* max-width: inherit; */
    margin: 1rem;
    grid-row: 3;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
  .sideNavigation__header {
    /* padding: 2rem 4rem;
    margin: 1rem; */
    gap: 2rem;
  }
  .sideNavigation__header-imageContainer {
    max-width: 10rem;
    height: 10rem;
  }
  .sideNavigation__header-greeting {
    font-size: 3.6rem;
  }
  .sideNavigation__header-artistNameText {
    font-size: 4.8rem;
  }
  .sideNavigation__navbarTitle {
    font-size: 2.6rem;
  }
  .sideNavigation__navbar a:link,
  .sideNavigation__navbar a:visited {
    font-size: 2.6rem;

    padding: 1.8rem 3.2rem 1.8rem 5.8rem;

    /* Style for active class */
  }
  /* .sideNavigation__header-artistNameText {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.9rem;
  } */
}
