.genres {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr auto;
  width: 100%;
  grid-row: 2/-1;
  grid-column: 1/-1;
  justify-content: center;
}

.genres__cardList {
  grid-row: 2/-1;
  grid-column: 1/-1;
  margin: 3.6rem auto;
}

@media only screen and (min-width: 992px) and (min-device-height: 768px) and (orientation: landscape) {
  .genres__actionBar {
    display: flex;
    justify-content: flex-end;
    grid-column: 3/-1;
    grid-row: 1;
  }
}
