.song-item {
  padding: 4rem;
  border: 1px grey solid;
}
.song-item li {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 70rem;
  align-items: center;
  gap: 0.4rem;
  justify-content: flex-start;
  list-style: none;
}
.song-item-button {
  border-radius: 60%;
  background: linear-gradient(180deg, #ff3a16 0%, #cc2000 100%);
}
.song-item_header {
  display: inherit;

  justify-content: space-around;
}
.song-item_header_song_details {
  grid-column: 2/4;
  display: inherit;
  flex-direction: column;
}
.song-item_header_song_details_other {
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
}
