:root {
  --heading-font: 'Inter', sans-serif;
  --body-font: 'Inter', sans-serif;
  /* --font-size-h1: 2.1rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.6rem;
  --font-size-body: 1.6rem;
  --font-size-body-secondary: 1.4rem;
  --font-size-body-tertiary: 1.2rem; */
  --line-height-h1: 2.43;
  --line-height-h2: 2.94;
  --line-height-h3: 1.78;
  --line-height-body: 1.5;
  --font-size-h1: 3.2rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 2rem;
  --font-size-body: 1.6rem;
  --font-size-body-secondary: 1.4rem;
  --font-size-body-tertiary: 1.2rem;
}

/* Headings needs to be 1.96 times larger than body */

/* Styles for screens between 768px and 1024px (typical for smaller desktops or tablets in landscape mode) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Your CSS styles for smaller desktop screens or tablets in landscape mode go here */
}

/* Styles for screens between 481px and 767px (typical for tablets in portrait mode) */
@media (min-width: 481px) and (max-width: 767px) {
  /* Your CSS styles for tablets in portrait mode go here */
}
/* and (max-width: 1200px) */
@media (min-width: 1025px) {
  :root {
    --font-size-h1: 3.2rem;
    --font-size-h2: 2.4rem;
    --font-size-h3: 2rem;
    --font-size-body: 1.6rem;
    --font-size-body-secondary: 1.4rem;
    --font-size-body-tertiary: 1.2rem;
  }
}
@media (min-width: 1201px) {
  /* Your CSS styles for large desktop screens go here */
}
