:root {
  --heading-font: 'Inter', sans-serif;
  --body-font: 'Inter', sans-serif;
}
:root {
  --font-size-h1: 3.6rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 1.8rem;
  --font-size-body: 1.6rem;
}

:root {
  --line-height-h1: 2.43;
  --line-height-h2: 2.94;
  --line-height-h3: 1.78;
  --line-height-body: 1.5;
}
