.cardlist {
  width: 85rem;
}
.cardlist__list {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  flex-wrap: wrap;
}
.cardlist__list a:link,
.cardlist__list a:visited {
  text-decoration: none;
  color: #fff;
}
.cardlist__list a:hover,
.cardlist__list a:active {
  text-decoration: none;
  color: #fff;
}
