.oneColumnlayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding: 1.6rem 2.4rem;
  align-content: center;
}

.twoColumnlayout {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 2.4rem;
}

.threeColumnlayout {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr auto;
  padding: 1.6rem 2.4rem;
}
.actionBarOneCol,
.actionBarTwoCol,
.actionBarThreeCol {
  justify-self: flex-end;
  width: 100%;
}
.actionBarOneCol {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.actionBarTwoCol {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.actionBarThreeCol {
  grid-column: 3/-1;
}

.oneColumnlayoutContainer {
  grid-row: 2/-1;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 3.2rem;
}

/* @media only screen and (min-width: 992px) and (max-width: 1400px) and (min-device-height: 768px) {
  .oneColumnlayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    padding: 1.6rem 2.4rem;
    align-content: center;
  }

  .twoColumnlayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 4fr;
    padding: 0 2.4rem;
    column-gap: 3.6rem;
    width: 100%;
  }

  .threeColumnlayout {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr auto;
    padding: 1.6rem 2.4rem;
  }
  .actionBarOneCol {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .actionBarTwoCol {
    grid-column: 2/-1;
    grid-row: 1/2;
    margin-right: 3.2rem;
  }
  .actionBarThreeCol {
    grid-column: 3/-1;
  }
} */

@media only screen and (min-width: 1401px) and (min-device-height: 768px) and (orientation: landscape) {
  .oneColumnlayout {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 0 2.4rem;
    align-content: center;
  }

  .twoColumnlayout {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr 4fr 4fr;
    padding: 0 2.4rem;
    column-gap: 3.6rem;
    width: 100%;
  }

  .threeColumnlayout {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr auto;
    padding: 1.6rem 2.4rem;
  }

  .actionBarOneCol,
  .actionBarTwoCol,
  .actionBarThreeCol {
    justify-self: flex-end;
    width: 52rem;
  }
  .actionBarOneCol {
    grid-column: 2/-1;
    grid-row: 1/2;
  }
  .actionBarTwoCol {
    grid-column: 2/-1;
    grid-row: 1/2;
    margin-right: 3.2rem;
  }
  .actionBarThreeCol {
    grid-column: 3/-1;
  }
}
