.modal {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 auto;
  background-color: #fff;
  max-width: 40rem;
  border-radius: 18px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
  max-width: 100%;
}

.registerForm h2 {
  align-self: center;
  font-size: var(--font-size-h2);
}
.registerForm_controls {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  /* flex: 1 0 auto; */

  /* width: inherit; */
}

.registerForm_controls input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: var(--font-size-body);
}

.registerForm_actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.registerForm_actions button {
  display: block;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 14px 20px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}
.registerForm_actions button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
@media only screen and (min-width: 992px) and (min-device-height: 768px) and (orientation: landscape) {
  .modal {
    max-width: 40rem;
    max-height: 40rem;
  }

  .registerForm_controls {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
  }
}
