.loading-bar {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.loading-bar_header {
  display: flex;
  justify-content: space-between;
}
.loading-bar_inner {
  height: 100%;
  width: 100%;

  border: 1px solid #313131;
  border-radius: 3px;
  background-color: #c3b4f3;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.loading-bar_fill {
  height: 100%;

  padding: 0.5rem 0;

  background-color: #4826b9;
}
