.profile {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr auto;
}

.profile__actionBar {
  grid-column: 1/-1;
  grid-row: 1;
}
.profile__content {
  grid-row: 2/-1;
  grid-column: 1/-1;
}
.profile__notFound {
  grid-row: 2/-1;
  grid-column: 1/-1;

  margin: 10vh auto;
  text-align: center;

  font-size: var(--font-size-h1);
}
.profile__headerContainer {
  max-width: 124rem;
  /* min-width: 96rem; */
  /* height: 26rem; */
  margin: 0 auto;
}
.profile__header {
  display: flex;
  flex-direction: column;

  margin-top: 1.6rem;

  justify-self: center;
  align-self: start;
  align-items: center;
  padding: 3rem;
  background: #ccc;

  border-radius: 1.6rem;
}

.profile__header-imgContainer {
  width: 20rem;
  height: 20rem;
  /* margin-right: 3rem; */

  background-color: #fff;
  border-radius: 50%;
}
.profile__header-imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.profile__header-content {
  /* flex: 1 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.profile__header-textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.4rem;
}
.profile__header-displayName {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-size: var(--font-size-h2);
  line-height: 3.7rem;
  padding: 0.4rem 0.7rem;
}
.profile__header-firstLastName {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-size: var(--font-size-h3);
  line-height: 1.2;
  padding: 0.4rem 0.7rem;
}
.profile__header-editContainer {
  max-width: 12rem;
  width: 12rem;
  height: 3.6rem;
}
.profile__header-editContainer .editContainer-updateBtn {
  display: none;
}
.profile__header-editContainer:hover .editContainer-updateBtn {
  display: inline-block;
  opacity: 0.8;
}
.profile__header-editContainer .editContainer-updateBtn--focused {
  display: inline-block;
}
.profile__header-editContainer .editContainer-updateBtn:hover {
  opacity: 1;
}
.editContainer-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile__profileActions {
  display: flex;
  gap: 0.6rem;
  justify-content: flex-end;
  margin: 1.2rem auto;
  padding: 0.4rem 2rem 0.8rem;
  border-bottom: 1px solid #ccc;
  max-width: 124rem;
}

@media only screen and (min-width: 992px) and (min-device-height: 768px) and (orientation: landscape) {
  .profile {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr auto;
  }

  .profile__actionBar {
    display: flex;
    justify-content: flex-end;
    grid-column: 3/-1;
    grid-row: 1;
  }
  .profile__content {
    grid-row: 2/-1;
    grid-column: 1/-1;
  }
  .profile__notFound {
    grid-row: 2/-1;
    grid-column: 1/-1;

    margin: 10vh auto;
    text-align: center;
  }
  .profile__headerContainer {
    max-width: 124rem;
    min-width: 96rem;
    height: 26rem;
    margin: 0 auto;
  }
  .profile__header {
    flex-direction: row;
    margin-top: 1.6rem;

    justify-self: center;
    align-self: start;

    padding: 3rem;
    background: #ccc;

    border-radius: 1.6rem;
  }

  .profile__header-imgContainer {
    width: 20rem;
    height: 20rem;
    margin-right: 3rem;

    background-color: #fff;
    border-radius: 50%;
  }
  .profile__header-imgContainer img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  .profile__header-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  .profile__header-textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 0.4rem;
  }
  .profile__header-displayName {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;

    line-height: 3.7rem;
    padding: 0.4rem 0.7rem;
  }
  .profile__header-firstLastName {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;

    line-height: 1.2;
    padding: 0.4rem 0.7rem;
  }
  .profile__header-editContainer {
    max-width: 12rem;
    width: 12rem;
  }
  .profile__header-editContainer .editContainer-updateBtn {
    display: none;
  }
  .profile__header-editContainer:hover .editContainer-updateBtn {
    display: inline-block;
    opacity: 0.8;
  }
  .profile__header-editContainer .editContainer-updateBtn--focused {
    display: inline-block;
  }
  .profile__header-editContainer .editContainer-updateBtn:hover {
    opacity: 1;
  }
  .editContainer-menu {
    display: flex;
    flex-direction: column;
  }
  .profile__profileActions {
    display: flex;
    gap: 0.6rem;
    justify-content: flex-end;
    margin: 1.2rem auto;
    padding: 0.4rem 2rem 0.8rem;
    border-bottom: 1px solid #ccc;
    max-width: 124rem;
  }
}
