.actionBar {
  padding: 0.5rem 3rem;
  background-color: #fff;
  position: relative;
  z-index: 1000;
}
.actionBar__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.actionBar__profileLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  background-image: url("/src/images/blank_image_placeholder.svg");
  filter: drop-shadow(3px 4px 15px rgba(0, 0, 0, 0.12));
  stroke: #fff;
  border-radius: 25px;

  order: 3;
}
.actionBar__profileLink-img {
  display: flex;
  align-self: center;
  width: 100%;
  height: 100%;
  border-radius: 10.18rem;
}

.actionBar__uploadLink {
  display: none;
}
.actionBar__button {
  background-color: transparent;
}
@media only screen and (min-width: 992px) and (min-device-height: 768px) and (orientation: landscape) {
  /* .actionBar__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  } */

  .actionBar__profileLink {
    order: 0;
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 4.2rem;
    height: 4.2rem;
    background-image: url("/src/images/blank_image_placeholder.svg");
    filter: drop-shadow(3px 4px 15px rgba(0, 0, 0, 0.12));
    stroke: #fff;
    border-radius: 25px; */
  }
  /* .actionBar__profileLink-img {
    display: flex;
    align-self: center;
    width: 100%;
    height: 100%;
    border-radius: 10.18rem;
  } */

  .actionBar__uploadLink {
    display: block;
    width: 4.2rem;
    height: 4.2rem;

    color: #fff;
    background: linear-gradient(180deg, #fd4d2d 0%, #f9330e 100%);
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
    padding: 1rem;
  }
}
